* {
  box-sizing: border-box;
  border: none;
  padding:0;
  margin:0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.25rem;
  line-height: 2rem;
  color: #000;
  background: #f6f7f8;
  overflow-x: hidden;
}

header {
  position: relative;
  margin: 0 auto;
  width: 45rem;
}

figure {
  display: block;
  position: relative;
}

figure img {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
}

figcaption {
  line-height: 1.5em;
  position: absolute;
  width: 100%;
  color: white;
  bottom: 25px;
  font-family: Georgia, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  padding: 0 30px;
}

p.bildunterschrift {
  text-align: center;
  font-size: 1.0rem;
  margin-top: 0px;
  padding: 0 10px;
  font-style: italic;
}

article {
  margin: 0 auto 30px auto;
  max-width: 32em;
  padding: 0 1rem;
  font-family: Georgia, sans-serif;
}

blockquote {
  border-left: 4px solid #1E90FF;
  background: rgba(42, 152, 237, 0.2);
  padding: 0rem 2rem;
  margin: 1.9375rem 0 1.5rem;
  overflow: hidden;
  border-radius: 2px;
  width: 35rem;
  margin-left: -3.5rem;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  width: 45rem;
  margin-left: -3.5rem;
}

.flexbox-container > p {
	width: 50%;
}

.flexbox-container > p:first-child {
	margin-right: 20px;
}

p {
  display: block;
  -webkit-margin-before: 2rem;
  -webkit-margin-after: 2rem;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p.post-date {
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  -webkit-margin-before: 0rem;
}

span.post-meta {
  font-size: 1rem;
  margin: 0 0 0 0.5rem;
}

a {
  color: #1E90FF;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  text-decoration: none;
  position: relative;
  text-shadow: 2px 0px 0 #f6f7f8, -2px -0px 0 #f6f7f8, 2px 0px 0 #f6f7f8, 2px 0px 0 #f6f7f8;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(42, 152, 237), rgb(42, 152, 237));
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;
  background-position: 0 95%,100% 95%,0 95%;
}

a:hover, a:focus {
  color: #0876cb;
}

p > a.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  border-radius: 2px;
  padding: 0.6rem;
  text-shadow: none;
  text-decoration: none;
  background-image: none;
  -moz-transition: background 200ms ease;
  -o-transition: background 200ms ease;
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease;
}

a.btn.btn-primary {
  color: #fff;
  background: #1E90FF;
}

a.btn.btn-primary:hover {
  color: #1E90FF;
  background: none;
  box-shadow: 0 0 0 2px #1E90FF inset;
}

input[type=submit].btn.btn-secondary {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  padding: 0.6rem;
  border-radius: 2px;
  text-shadow: none;
  text-decoration: none;
  background-image: none;
  background: none;
  color: #fff;
  box-shadow: 0 0 0 2px #fff inset;
  cursor: pointer;
  width: 100%;
}

input[type=submit].btn.btn-secondary:hover {
  background: #fff;
  color: #1E90FF;
}

input[type=email].email {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  border-radius: 2px;
  padding: 0.6rem;
  background: #fff;
  color: #1E90FF;
  box-shadow: 0 0 0 2px #fff inset;
  box-sizing:border-box;
  display: inline-block;
  width: 70%;
}

span.headline {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  display: block;
}

span.subline {
  font-size: 1.25rem;
  line-height: 2rem;
  font-family: Georgia, sans-serif;
  color: #fff;
  padding: 15px 25px;
  display: block;
}

a.btn.btn-secondary:hover {
  color: #fff;
  background: #1E90FF;
}

#mc_embed_signup{
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:100%;
  background: #1E90FF;
  border-radius: 2px;
  text-align: center;
  padding: 1.5rem;
}

#mc_embed_signup .mc-field-group {
  display: inline-block;
}

#mc_embed_signup .clear {
  display: inline-block;
}

p.back a {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: #999d9e;
  background-image: none;
  padding: 0 1rem;
}

mark {
  background: #fffacb;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-margin-after: 0rem;
}

h1.intro {
  font-size: 1.5rem;
  text-align: left;
  text-transform: none;
  font-weight: normal;
  max-width: 24em;
  -webkit-margin-before: 2rem;
}

h2 {
  font-size: 1.5em;
  -webkit-margin-after: 0em;
}

h3 {
  font-size: 1.5rem;
  -webkit-margin-after: 0em;
}

h4 {
  font-size: 1.4rem;
  -webkit-margin-after: 0em;
}

h5 {
  font-size: 1.3rem;
  -webkit-margin-after: 0em;
}

h6 {
  font-size: 1.2rem;
  -webkit-margin-after: 0em;
}

h3 + p, h2 + p, h4 + p, h5 + p, h6 + p {
  font-size: 1.2rem;
  -webkit-margin-before: 0em;
}

article img {
  width: 45rem;
  margin-left: -2.5rem;
  border-radius: 2px;
}

p + ul {
  -webkit-margin-after: 0rem;
}

ul {
  list-style: none;
}

li {
  position: relative;
  margin-left: 2rem;
}

li:before {
    position: absolute;
    left: -0.75em;
    content: "-";
}

p.promobox {
  background: #1E90FF;
  border-radius: 2px;
}

@media screen and (max-width: 45rem) {
  header, header.big {
    width: 100%;
    height:auto;
    padding:0;
  }

  header figure img {
    width: 100%;
    margin-left: 0;
  }

  article img {
    width: 100%;
    margin-left: 0;
  }
}
