<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/_uploads/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/style.css">
<title>
  {% if page.title %}
    {{ page.title }} &middot; by Niklas Jordan
  {% else %}
    {{ page['Site-Name'] }}
  {% endif %}
</title>
<meta name="description" content="{{ page['MetaDescription'] }}">
<meta property="og:site_name" content="{{ page['Site-Name'] }}">
<meta property="og:title" content="{{ page.title }} | {{ page['Site-Name'] }}">
<meta name="og:description" content="">
<meta property="og:email" content="hello@niklasjordan.com">
<meta property="og:type" content="article">
<meta property="og:url" content="http://www.niklasjordan.com">
<meta property="og:image" content="_uploads/niklas-jordan.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ page['Twitter'] }}">
<meta name="twitter:creator" content="{{ page['Twitter'] }}">
<meta name="twitter:title" content="{{ page.title }} | {{ page['Site-Name'] }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="_uploads/niklas-jordan.jpg">
<link rel="author" href="{{ page['GooglePlus'] }}">
<link href='https://fonts.googleapis.com/css?family=Raleway:600,700' rel='stylesheet' type='text/css'>
<script src="https://cdn.optimizely.com/js/3269590075.js"></script>
