<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<nav>
  <ul>
    <li  {% if page.url == "/" %}class="current"{% endif %}>
      <a href="/">Start</a>
    </li>
  {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url contains link.url %}
          {% assign current = 'current' %}
      {% endif %}
      <li {% if page.url == link.url %}class="current"{% endif %}>
          <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
  {% endfor %}
  </ul>
</nav>
