---
layout: Default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include tag-manager.html %}

    <header class="Header big" role="banner">
      <figure aria-hidden="true">
        <img src="{{ page['Image'] }}" alt="">
        <figcaption>UX Professional on a <em>mission</em>.*</figcaption>
      </figure>
      {% if page.Bildunterschrift == ""  %}
      {% else %}
      <p class="bildunterschrift">{{ page['Bildunterschrift'] }}</p>
      {% endif %}
    </header>

    <article role="main">
      <h1 class="intro">{{ page['Headline'] }}</h1>
      {{ content }}
      <p style="margin-bottom: 0.7rem;">I write about opinions on technology focused products and it’s effect on our world.
        <ul>
        {% for mypost in site.posts limit:4 %}
          <li><a href="{{ mypost.url | prepend: site.baseurl }}">{{ mypost.title }}</a></li>
        {% endfor %}
        </ul>
      </p>
      <p class="promobox">
        <!-- Begin MailChimp Signup Form -->
        <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
        <div id="mc_embed_signup">
          <span class="headline">UX Newsletter <em>for Nonprofits</em></span>
          <span class="subline">Get the best UX articles, tips & insights for Nonprofits in your inbox – <em>for free</em>. No spam, ever. Promised!</span>
        <form action="//niklasjordan.us11.list-manage.com/subscribe/post?u=99b60ca7c359db03860b8e54b&amp;id=99f8e52f49" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="e-mail address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_99b60ca7c359db03860b8e54b_99f8e52f49" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" class="btn btn-secondary" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->
      </p>
      <p><strong>Drop me a line:</strong> I ramble on <a href="https://twitter.com/niklas_jordan">Twitter</a>, show my work on <a href="https://dribbble.com/niklasjordan">dribbble</a>, share my code on <a href="https://github.com/NiklasJordan">Github</a>, network on <a href="https://www.linkedin.com/pub/niklas-jordan/22/b94/28b">LinkedIn</a>, and stream the soundtrack of my life on <a href="https://play.spotify.com/user/1116716844">Spotify</a>.</p>
    </article>

  </body>
</html>
