---
layout: Default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/_uploads/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Niklas Jordan | Certified Professional for Usability and User Experience</title>
    <meta name="description" content="">
    <meta property="og:site_name" content="Niklas Jordan's blog about usability and user experience">
    <meta property="og:title" content=" | Niklas Jordan's blog about usability and user experience">
    <meta name="og:description" content="">
    <meta property="og:email" content="hello@niklasjordan.com">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.niklasjordan.com">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@niklas_jordan">
    <meta name="twitter:creator" content="@niklas_jordan">
    <meta name="twitter:title" content=" | Niklas Jordan's blog about usability and user experience">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <link rel="author" href="https://plus.google.com/u/0/104211211117831167754">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <header class="Header big" role="banner">
      <figure>
        <img src="{{ page['Image'] }}" alt="Macaque in the trees">
        <figcaption>A cheeky macaque, Lower Kintaganban River, Borneo. Original by <a href="http://www.flickr.com/photos/rclark/">Richard Clark</a></figcaption>
      </figure>
    </header>

    <article role="main">
      <h1 class="intro">{{ page['Headline'] }}</h1>
      {{ content }}
    </article>

  </body>
</html>
