---
layout: posts
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/_uploads/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Niklas Jordan | Certified Professional for Usability and User Experience</title>
    <meta name="description" content="">
    <meta property="og:site_name" content="Niklas Jordan's blog about usability and user experience">
    <meta property="og:title" content=" | Niklas Jordan's blog about usability and user experience">
    <meta name="og:description" content="">
    <meta property="og:email" content="hello@niklasjordan.com">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.niklasjordan.com">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@niklas_jordan">
    <meta name="twitter:creator" content="@niklas_jordan">
    <meta name="twitter:title" content=" | Niklas Jordan's blog about usability and user experience">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <link rel="author" href="https://plus.google.com/u/0/104211211117831167754">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <header class="Header big" role="banner">

    </header>

    <article role="main">
      <h1>{{ page['Headline'] }}</h1>
      <p style="margin-bottom: 0.7rem;">I write about opinions on technology focused products and it’s effect on our world.
        {% for mypost in site.posts reversed %}
        {% assign fdate = mypost.date | date: '%b %Y' %}
        {% if cur_date != fdate %}
          {% assign cur_date = fdate %}
          <h2>{{ mypost.date | date: '%B, %Y' }}</h2>
        {% endif %}
          <li>
            <a href="{{ mypost.url | prepend: site.baseurl }}">{{ mypost.title }}</a>
            <span class="post-meta">{{ mypost.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endfor %}
      </p>
      <h3>Contact</h3>
      <p>I ramble on <a href="https://twitter.com/niklas_jordan">Twitter</a>, show my work on <a href="https://dribbble.com/niklasjordan">dribbble</a>, share my code on <a href="https://github.com/NiklasJordan">Github</a>, network on <a href="https://www.linkedin.com/pub/niklas-jordan/22/b94/28b">LinkedIn</a>, and stream the soundtrack of my life on <a href="https://play.spotify.com/user/1116716844">Spotify</a>.</p>
    </article>

  </body>
</html>
