---
layout: Post
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include tag-manager.html %}

    <header class="Header big" role="banner">
      <p class="back"><a href="/">&#8592; Niklas Jordan</a></p>
    </header>

    <article role="main">
      <h1>{{ page.title }}</h1>
      <p class="post-date">{{ page.date | date: '%B %d, %Y' }}</p>
      {{ content }}
      <h2>Questions <i>or</i> Feedback?</h2>
      <p>You can reach me on Twitter at <a href="https://twitter.com/niklas_jordan">@niklas_jordan</a> or by emailing me at <a href="mailto:hello@niklasjordan.com">hello@niklasjordan.com</a>.</p>
    </article>

  </body>
</html>
