---
layout: writing
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include tag-manager.html %}

    <header class="Header big" role="banner">
      <p class="back"><a href="/">&#8592; Niklas Jordan</a></p>
    </header>

    <article role="main">
      <h1>{{ page['Headline'] }}</h1>
      {{ content }}
      {% for mypost in site.posts %}
      {% assign fdate = mypost.date | date: '%b %Y' %}
      {% if cur_date != fdate %}
        {% assign cur_date = fdate %}
        <h2>{{ mypost.date | date: '%B, %Y' }}</h2>
      {% endif %}
      <ul>
        <li>
          <a href="{{ mypost.url | prepend: site.baseurl }}">{{ mypost.title }}</a>
          <span class="post-meta">{{ mypost.date | date: "%b %-d, %Y" }}</span>
        </li>
      </ul>
      {% endfor %}
      <h2>Contact</h2>
      <p>I ramble on <a href="https://twitter.com/niklas_jordan">Twitter</a>, show my work on <a href="https://dribbble.com/niklasjordan">dribbble</a>, share my code on <a href="https://github.com/NiklasJordan">Github</a>, network on <a href="https://www.linkedin.com/pub/niklas-jordan/22/b94/28b">LinkedIn</a>, and stream the soundtrack of my life on <a href="https://play.spotify.com/user/1116716844">Spotify</a>.</p>
    </article>

  </body>
</html>
