---
layout: writing
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include tag-manager.html %}

    {% include navigation.html %}

    <div class="inner" id="content">

    <article role="main">
      {{ content }}
      {% for mypost in site.posts %}
      {% assign fdate = mypost.date | date: '%b %Y' %}
      {% if cur_date != fdate %}
        {% assign cur_date = fdate %}
        <h2>{{ mypost.date | date: '%B, %Y' }}</h2>
      {% endif %}
      <ul class="half">
        <li>
          <a href="{{ mypost.url | prepend: site.baseurl }}">{{ mypost.title }}</a>
          <!-- <span class="post-meta">{{ mypost.date | date: "%b %-d, %Y" }}</span> -->
          <span class="label">{{ mypost.categories }}</span>
        </li>
      </ul>
      {% endfor %}
    </article>

  </div>
  {% include footer.html %}
  </body>
</html>
